.nav-style{
    background-color: white;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
}
li{margin: 5px;}