<div class="auth-page">
  <div class="container page d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
  
        <div class="login-box">
          <h1 class="text-login">Logowanie</h1>
          <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
          </div>
          <form (ngSubmit)="submitForm()" [formGroup]="form">
            <fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="email"
                  placeholder="Email"
                  class="form-control form-control-lg"
                  type="text"
                  email />
              </fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="password"
                  placeholder="Password"
                  class="form-control form-control-lg"
                  type="password" />
              </fieldset>

              <div class="d-flex justify-content-center align-items-center">
                <button class="button-login btn btn-lg pull-xs-right"  type="submit" [disabled]="!form.valid">
                  Zaloguj
                </button>
        
              </div>
              <div class="forgot-pass d-flex justify-content-center align-items-center">
              <a routerLink="forgotPassword"> Zapomniałeś hasła?</a>
              </div>
              </fieldset>
            </form>
          </div>
    
        </div>
  
  
