.wrapper {
    margin: auto;
    margin-top: 5vh;
    width: 60vw;
}

.btn-primary{
    margin-bottom: 5vh;
}

.posts-box{  background-color: white;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}