table {
    margin: 0 auto; text-align: center;
    vertical-align: center;
    width: 50vw;
    background-color: white;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 700px;
}
thead{
    margin-left: 60px;
}

.dyskusje:hover{
    color: gray;
    cursor: pointer;
}

.arch:hover{
    color: gray;
    cursor: pointer;}

.ogl:hover{
    color: gray;
    cursor: pointer;
}

