<table class="table">
    <thead>
      <tr>
        <th scope="col">Ogłoszenia</th>
        <th scope="col">Opis kategorii</th>
        <th scope="col">Ostatnia aktywność</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" [routerLink]="['/dyskusje']">Dyskusje</th>
        <td>opis</td>
        <td>autor</td>
      </tr>
      <tr>
        <th scope="row" [routerLink]="['/archiwa']">Archiwa</th>
        <td>opis</td>
        <td>autor</td>
      </tr>
    </tbody>
  </table>