<table class="table">
  <tbody>
    <tr>
      <th> <img height="40" src="..\assets\announcements.svg" width="40"></th>
      <th class="ogl" scope="col"> OGŁOSZENIA</th>
      <td>Miejsce do zamieszczania ogłoszeń</td>
      <td>10 stycznia 2023</td>
    </tr>
  
 
    <tr>
      <th> <img height="40" src="..\assets\discussion.svg" width="40"></th>
      <th class="dyskusje" scope="row" [routerLink]="['/dyskusje']">DYSKUSJE</th>
      <td>opis</td>
      <td>{{latestActivity.date| date: 'longDate'}} {{latestActivity.author}}</td>
    </tr>
    <tr>
      <th> <img height="40" src="..\assets\box.svg" width="40"></th>
      <th class="arch" scope="row" [routerLink]="['/archiwa']">ARCHIWUM</th>
      <td>opis</td>
      <td>7 stycznia 2023</td>
    </tr>
  </tbody>
</table>

