<div class="auth-page">
    <div class="container page d-flex justify-content-center align-items-center min-vh-100">
      <div class="row">
  
        <div class="login-box">
          <h1 class="text-login">Logowanie</h1>
          <form>
            <fieldset>
            
              <fieldset class="form-group">
                <input
                  formControlName="email"
                  placeholder="Adres e-mail"
                  class="form-control form-control-lg"
                  type="text" />
              </fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="password"
                  placeholder="Hasło"
                  class="form-control form-control-lg"
                  type="password" />
              
              </fieldset>
            <div class="d-flex justify-content-center align-items-center">
              <button class="button-login btn btn-lg pull-xs-right " (click)="onSubmit()" type="submit">
                Zaloguj
              </button>
      
            </div>
            <a href=""> Zapomniałeś hasła?</a>
            </fieldset>
          </form>
        </div>
  
      </div>
    </div>
  </div>
  