<div class="wrapper">
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="space"> </div>
  <label class="headline">Dodaj post</label>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="subjectName">Wybierz kategorie</label>
        </div>
        <div class="col">
          <select class="form-control cat-select" id="subjectname" formControlName="subjectname">
            <option>SMIW</option>
            <option>TM</option>
            <option>JA</option>
          </select>
        </div>
      </div>    
    </div>
    <div class="form-group">
      <input 
        type="text" 
        formControlName="title" 
        class="form-control" 
        id="title" 
        placeholder="Tytuł"/>
    </div>
    <div class="form-group form-content">
      <textarea class="form-control" id="content" rows="5" formControlName="content" placeholder="Zawartość"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Dodaj post</button>
  </form>
</div>