<p>{{ post.title }}</p>
<p>{{ post.content }}</p>
<p>{{ post.date_created }}</p>
<p>{{ post.username }}</p>
<hr />
<h1>KOMENTARZE</h1>
<hr />
<div class="wrapper">
  <form [formGroup]="commentForm">
    <div class="form-group form-content">
      <textarea
        class="form-control"
        id="content"
        rows="5"
        formControlName="content"
        placeholder="Napisz komentarz..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Skomentuj</button>
  </form>
</div>
