<div class="container second-segment">
  <div class="row">
    <div class="col-3">
      <app-profile-mini *ngIf="post.username" [author]="post.username" [date]="post.date_created | date : 'd MMM y H:mm'"></app-profile-mini>
    </div>
    <div class="col-9">
      <p class="list-group-item-heading post-title">{{post.title}}</p>
      <p class="list-group-item-heading post-content">{{post.content}}</p>
    </div>
  </div>
</div>
<div class="comment-header second-segment">
</div>




<app-comment-item *ngFor="let commentEl of comments" [comment]="commentEl"></app-comment-item>
<div class="wrapper">
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-content">
      <textarea class="form-control" id="content" rows="5" formControlName="contentForm"
        placeholder="Napisz komentarz..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Skomentuj</button>
  </form>
</div>