


<div class="container second-segment" [routerLink]="['/dyskusje',post.idPost]">
    <div class="row">
      <div class="col-2">
        <p class="list-group-item-heading post-cat">{{post.subjectname}}</p> 
      </div>
      <div class="col-6">
        <p class="list-group-item-heading post-title">{{post.title}}</p>
        <p class="list-group-item-heading post-content">{{post.content | slice:0:200}} <span *ngIf="post.content.length>200">...</span></p>
      </div>
      <div class="col-4 user-name">
        <app-profile-mini class="profile" [date]="post.date_created | date: 'd MMM y H:mm'" [author]="post.username"></app-profile-mini>
      </div>
    </div>
</div>
<hr>
