.user-name{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', Medium;
}

.post-cat{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px; //nie uwzględniono w layoucie, raczej powinno być mniej
}

.post-title{
    text-align: left;
    font-size: 18px;
    font-family: 'Regular';
}

.post-title:hover{
    color:gray;
}

.post-content{
    text-align: left;
    font-family: 'Regular';
    font-size: 14px;
    line-height: 20.4px;
}

.post-container{
    margin-top: 2vh;
}

.post-user{
    font-size: 12px;
}

.post-date{
    font-weight: lighter;
    font-size: 12px;
}