<div class="newest">
  <table class="table">
    <tbody *ngFor="let post of latestPosts">
      <tr [routerLink]="['/dyskusje', post.idPost]">
        <td class="subject">
            <span class="title-click">{{ post.subjectname }} </span>
        </td>

        <td class="content title-click">
          <span >{{ post.title }}</span>
        </td>

        <td class="date">
          <app-profile-mini
            [date]="post.date_created | date : 'd MMM y H:mm'"
            [author]="post.username"
          ></app-profile-mini>
        </td>
      </tr>
    </tbody>
  </table>
</div>
