
.subject {
  font-weight: bold;
  text-transform: uppercase;
  width: 15%;
  padding: 0 0;
}

.date {
  width: 33%;
}
.content {
    text-align: left;
}

table {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 50vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  //width: 850px;
  //border-collapse: separate;
}

td {
  margin-left: 10px;
  font-size: 18px;
}

.title-click:hover {
  cursor: pointer;
  color: gray;
}

