/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto);



body{
    font-family: 'Roboto';
   background-color: #FDF7FF;
        height: 100vh;
        text-align: center;
}
