<div class="wrapper">
  <div class="btn-group" appDropdown>
    <button type="button" class="btn btn-primary dropdown-toggle">
      Niedzialajacy dropdown <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a style="cursor: pointer">a</a></li>
      <li><a style="cursor: pointer">b</a></li>
      <li><a style="cursor: pointer">c</a></li>
    </ul>
  </div>
  <button class="btn btn-primary" type="submit" [routerLink]="['/edytuj']">
    Dodaj post
  </button>
  <!--do zrobienia ngfor dla postow-->
  <div class="posts-wrapper">
    <app-post-item *ngFor="let postEl of posts" [post]="postEl"></app-post-item>
  </div>
  <!--<mat-paginator [length]="this.posts.length" [pageSize]="10" (page)="OnPageChange($event)"></mat-paginator>-->
</div>
