<div class="wrapper">
  <select class="category-select" [(ngModel)]="selectedSubject" (change)="filterPosts()">
    <option value="all">Wszystkie</option>
    <option *ngFor="let subject of subjectNames" [value]="subject.subjectName">
      {{ subject.subjectName }}
    </option>
  </select>
  <button class="add-button" type="submit" [routerLink]="['/edytuj']">
    Dodaj post
  </button>
  
  <div class="posts-wrapper" >
    <div class="whiteBox"></div>
    <app-post-item *ngFor="
        let postEl of filteredPosts
          | paginate
            : { itemsPerPage: 5, currentPage: page, totalItems: postsNumber }" [post]="postEl"></app-post-item>
    
  </div>
  <pagination-controls (pageChange)="page = $event" previousLabel="Poprzedni"
      nextLabel="Następny"></pagination-controls>
</div>