


    <div class="container first-segment">
        <div class="row">
          <div class="col-9">
            <app-newest-posts></app-newest-posts>
          </div>
          <div class="col-3">
            <app-calendar></app-calendar>
          </div>
        </div>
    </div>

        <div class="container second-segment">
            <div class="row">
              <div class="col-9">
                <app-category-section></app-category-section>
              </div>
              <div class="col-3">
                <app-profile></app-profile>
              </div>
            </div>
        </div>



